In [2]:
#LAB | Connecting Python to SQL

In this lab, the objective is to identify the customers who were active in both May and June, and how did their activity differ between months. To achieve this, follow these steps:

1.Establish a connection between Python and the Sakila database.

2.Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

- engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
- month: an integer representing the month for which rental data is to be retrieved.
- year: an integer representing the year for which rental data is to be retrieved.
The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

3.Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

Hint: Consider making use of pandas groupby()

4.Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [4]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

import getpass

In [7]:
password = getpass.getpass()

 ········

In [13]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [51]:
def rentals_month(engine, month, year):
   
    query = """
    SELECT *
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    """.format(month=month, year=year)

    return pd.read_sql_query(query, engine)

In [52]:
def rental_count_month(df, month, year):
   
    count_df = df.groupby('customer_id').size().reset_index(name='rentals_{month}_{year}')

    return count_df

In [58]:
def compare_rentals(df1, df2):
     
    merged_df = df1.merge(df2, on='customer_id', how='outer')

     
    merged_df['difference'] = merged_df.iloc[:, 1] - merged_df.iloc[:, 2]
    
    print(merged_df)

    return merged_df

In [59]:
df1 = rental_count_month(rentals_month(engine, 5, 2005), 5, 2005)
df2 = rental_count_month(rentals_month(engine, 6, 2005), 6, 2005)
compare_rentals(df1, df2)

     customer_id  rentals_{month}_{year}_x  rentals_{month}_{year}_y  \
0              1                       2.0                       7.0
1              2                       1.0                       1.0
2              3                       2.0                       4.0
3              5                       3.0                       5.0
4              6                       3.0                       4.0
..           ...                       ...                       ...
593          583                       NaN                       6.0
594          585                       NaN                       4.0
595          591                       NaN                       3.0
596          592                       NaN                       5.0
597          598                       NaN                       1.0

     difference
0          -5.0
1           0.0
2          -2.0
3          -2.0
4          -1.0
..          ...
593         NaN
594         NaN
595         NaN
596         NaN
597         NaN

[598 rows x 4 columns]

,customer_id,rentals_{month}_{year}_x,rentals_{month}_{year}_y,difference
0,1,2.0,7.0,-5.0
1,2,1.0,1.0,0.0
2,3,2.0,4.0,-2.0
3,5,3.0,5.0,-2.0
4,6,3.0,4.0,-1.0
...,...,...,...,...
593,583,NaN,6.0,NaN
594,585,NaN,4.0,NaN
595,591,NaN,3.0,NaN
596,592,NaN,5.0,NaN
597,598,NaN,1.0,NaN